---
---

@import "reset";
@import "variables";

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $gray;
  font: 16px/1.5 $georgia;
  color: $darkestGray;
}

.no-mobile {
  @include mobile {
    display: none;
  }
}

.container {
  background: $lightestGray;
  margin: 0 auto;
  max-width: 840px;
  padding: 0 24px;
  width: 100%;
  @include mobile {
    padding: 0 16px;
  }
}

article {
  padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 10px;
  padding: 0;
  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  margin-bottom: 16px;
  padding-top: 18px;
  font-size: 32px;
  line-height: 1;
  a {
    color: inherit;
  }
  @include mobile {
    h1 {
      font-size: 28px;
    }
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0 0;
}

a {
  color: $darkBlue;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-size: 14px;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $white;
}
::selection {
  color: $black;
  background: $white;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin: 24px 0;
  @include mobile {
    margin: 0 0 16px;
  }
}

.masthead {
  padding: 24px 0;
  @include mobile {
    padding: 16px 0;
  }
}

.site-avatar {
  float: left;
  width: 96px;
  height: 96px;
  margin-right: 20px;
  img {
    border-radius: 10px;
  }
  @include mobile {
    width: 64px;
    height: 64px;
    margin-right: 12px;
  }
}

.site-info {
  float: left;
}

.site-name {
  margin: 0;
  padding-top: 11px;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 1px;
  @include mobile {
    padding-top: 4px;
    font-size: 32px;
  }
}

.site-description {
  margin: 0;
  color: $gray;
  font-family: $helveticaNeue;
  font-size: 22.5px;
  font-weight: 300;
  letter-spacing: 1px;
  @include mobile {
    font-size: 18px;
  }
}

nav {
  float: right;
  padding-top: 12px;
  font-family: $helveticaNeue;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: right;
  a {
    color: $gray;
    &:hover, &:active {
      color: $blue;
    }
  }
  img {
    display: inline-block;
    height: 15px;
    vertical-align: -2px;
  }
  @include mobile {
    padding-top: 6px;
    font-size: 12px;
    img {
      height: 13px;
    }
  }

}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }
  .comments {
    margin-top: 10px;
  }
  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightestGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

@import "highlights"; // imported here to avoid bloating start of file 
