
//
// VARIABLES
//

// Colors
$blue: #607D8B;

// Grays
$black: #000000;
$darkerGray: #212121;
$darkGray: #616161;
$gray: #757575;
$midGray: #9E9E9E;
$divGray: #BDBDBD;
$lightGray: #F5F5F5;
$white: #FFFFFF;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$menlo: Menlo, Courier, monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
